/* GENERELT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  overflow-y: hidden;
}

.hide {
  display: none;
}

.noshow {
  visibility: hidden;
}

h1,
p {
  font-family: "Roboto";
}

h1 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

/* STARTSKÆRM */

#startScreen {
  background-image: url(/assets/backgrounds/FORREST-01.png);
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: fixed;
  background-position: center;
}

.blackOverlayBox {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50vw;
  height: min-content;
  position: absolute;
  top: 40%;
  left: 50%;
  min-width: 375px;
  transform: translate(-50%, -50%);
  font-family: "Roboto";
  color: #eeeeee;
  text-align: center;
  border: 2px solid #11998e;
  border-radius: 30px;
}

.blackOverlayBox > h1 {
  text-transform: uppercase;
  margin: 30px 10px;
}

.blackOverlayBox > p {
  margin: 0 20px 30px;
  font-size: 17px;
}

/* Stolen Code from https://codepen.io/mars2601/pen/MKVNMX */

/* .container {
  height: 100%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -40%);
} */

.btn {
  margin: 0 0 30px 0;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;
  animation: pulse alternate infinite 1s ease;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span {
  background: linear-gradient(to right, #38ef7d 0%, #11998e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

@keyframes pulse {
  to {
    transform: scale(1.1);
  }
}

.fade {
  animation: fade 0.5s ease;
  animation-iteration-count: 1;
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

@keyframes shake {
  2%,
  18% {
    transform: translate3d(-0.5px, 0, 0);
  }

  4%,
  16% {
    transform: translate3d(1px, 0, 0);
  }

  6%,
  10%,
  14% {
    transform: translate3d(-1.5px, 0, 0);
  }

  8%,
  12% {
    transform: translate3d(2px, 0, 0);
  }
}

/* FALDENDE SKRALD */
.items {
  width: 100vw;
  margin-left: 50px;
}

#falling {
  overflow: hidden;
}

section .items img {
  width: 120px;
  margin: 0 5vw 6vw;
  opacity: 0;
  transform-origin: 0px 0px;
  animation-name: falling;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.flake1 {
  left: 20px;
  animation-duration: 2.5s;
}
.flake2 {
  left: 40px;
  animation-duration: 2.7s;
  animation-delay: 0.2s;
}
.flake3 {
  left: 60px;
  animation-duration: 2.9s;
  animation-delay: 0.4s;
}
.flake4 {
  left: 80px;
  animation-duration: 2.4s;
  animation-delay: 0s;
}

.flake5 {
  left: 100px;
  animation-duration: 2.4s;
  animation-delay: 1s;
}
.flake6 {
  left: 150px;
  animation-duration: 2.2s;
  animation-delay: 1.2s;
}
.flake7 {
  left: 170px;
  animation-duration: 2.7s;
  animation-delay: 1.2s;
}
.flake8 {
  left: 200px;
  animation-duration: 2.7s;
  animation-delay: 0.2s;
}
.flake9 {
  left: 220px;
  animation-duration: 3s;
  animation-delay: 0.1s;
}
.flake10 {
  left: 240px;
  animation-duration: 3s;
  animation-delay: 1.4s;
}

@keyframes falling {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  50% {
    transform: translateY(50px);
    opacity: 1;
  }

  100% {
    transform: translateY(100px);
    opacity: 0.3;
  }
}

/* TIDSLINJE */

.timeline > svg {
  height: 104vh;
  top: -2vh;
  left: -1675px;
  position: absolute;
  z-index: 10;
}

.leafy {
  cursor: pointer;
}

.shake {
  animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.tree-cls-2 {
  cursor: pointer;
  transform-box: fill-box;
  transform-origin: top;
}

#infobox {
  background-color: rgb(122, 104, 77);
  box-shadow: 18px 24px 33px -8px rgba(0, 0, 0, 0.75);
  width: 230px;
  height: 295px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  border-radius: 25px;
  padding: 20px;
}

#infobox img {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 120px;
  bottom: 43px;
}

/* SÆSONER */

#summerBackground > svg,
#winterBackground > svg,
#springBackground > svg,
#fallBackground > svg {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
}

.wheel > svg {
  position: fixed;
  z-index: 20;
  width: 150px;
  height: 150px;
  top: 0px;
  right: 0px;
}

#summer,
#winter,
#fall,
#spring {
  transition: 0.3s;
  cursor: pointer;
  transform-box: fill-box;
}

#summer {
  transform-origin: bottom right;
}

#winter {
  transform-origin: top left;
}

#fall {
  transform-origin: bottom left;
}

#spring {
  transform-origin: top right;
}

#summer:hover,
.summerActive {
  transform: scale(1.1) translate(-20px, -20px);
}
#winter:hover,
.winterActive {
  transform: scale(1.1) translate(20px, 20px);
}
#fall:hover,
.fallActive {
  transform: scale(1.1) translate(20px, -20px);
}
#spring:hover,
.springActive {
  transform: scale(1.1) translate(-20px, 20px);
}

/* SÆSON ANIMATIONER */

.sun {
  transform-origin: center;
  transform-box: fill-box;
  cursor: pointer;
  animation: rotate 30s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.wobble2 {
  animation: wobbleFlower linear 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes wobbleFlower {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cloud {
  animation: cloud infinite linear 10s;
}

@keyframes cloud {
  0% {
    transform: translateX(0vw);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    transform: translateX(25vw);
    opacity: 0;
  }
}

.leaf {
  animation: leaf infinite linear 5s;
  transform-box: fill-box;
}

@keyframes leaf {
  0% {
    transform: translateY(-25vh) translateX(25vw) rotate(-90deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(75vh) translateX(-25vw) rotate(90deg);
    opacity: 0;
  }
}

.leaf2 {
  animation: leafTwo infinite linear 8s;
}

@keyframes leafTwo {
  0% {
    transform: translateY(-40vh) translateX(40vw) rotate(-30deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(60vh) translateX(-10vw) rotate(30deg);
    opacity: 0;
  }
}

/* DYR */

.animals {
  background-size: 1000% 100%;
  height: 200px;
  width: 200px;
  position: fixed;
  z-index: 5;

  animation: animals 3s steps(10) infinite both;
}

#badger {
  background-image: url(/assets/badger.svg);
  top: 50vh;
  left: 10vw;
  animation: badger 10s steps(5) infinite both 3s;
}
#fox {
  background-image: url(/assets/fox.svg);
  bottom: 5vh;
  right: 5vw;
  animation: fox 5s steps(10) infinite both 5s;
}

@keyframes badger {
  0% {
    background-position: 0%;
    transform: translateX(-500px);
  }

  25% {
    background-position: -0%;
    transform: translateX(0px);
  }

  50% {
    background-position: -500%;
    transform: translateX(0px);
  }

  75% {
    background-position: -0%;
    transform: translateX(0px);
  }

  100% {
    background-position: 0%;
    transform: translateX(-500px);
  }
}

@keyframes fox {
  0% {
    background-position: 0%;
    transform: translateX(500px);
  }

  50% {
    background-position: -1000%;
    transform: translateX(0px);
  }

  100% {
    background-position: 0%;
    transform: translateX(500px);
  }
}

/* SKRALD */

.sprites {
  background-size: 1000% 100%;
  height: 200px;
  width: 200px;
  position: fixed;
  z-index: 5;
}

.begin {
  animation: decompose 3s steps(10) forwards 1;
}

#wine_bottle {
  background-image: url(/assets/sprites/wine_bottle.svg);
  top: 75vh;
  left: 10vw;
  transform: rotateX(30deg) rotateY(0deg) rotateZ(30deg);
}

#newspaper {
  background-image: url(/assets/sprites/newspaper.svg);
  top: 50vh;
  left: 32vw;
  transform: scale(0.5) rotateX(30deg) rotateY(0deg) rotateZ(-30deg);
}

#plastic_bag {
  background-image: url(/assets/sprites/plastic_bag.svg);
  top: 71vh;
  left: 70vw;
  transform: rotateX(45deg) rotateY(30deg);
}
#hand {
  background-image: url(/assets/sprites/hand.svg);
  top: 65vh;
  left: 55vw;
  transform: rotateX(30deg) rotateY(0deg) rotateZ(30deg);
}

#banana {
  background-image: url(/assets/sprites/banana.svg);
  top: 68vh;
  left: 20vw;
  transform: rotateX(45deg) rotateY(20deg) rotateZ(30deg);
}

#glove {
  background-image: url(/assets/sprites/glove.svg);
  top: 50vh;
  left: 45vw;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(30deg);
}

#soda_can {
  background-image: url(/assets/sprites/soda_can.svg);
  top: 75vh;
  left: 40vw;
  transform: rotateX(20deg) rotateY(20deg) rotateZ(-30deg);
}
#gum {
  background-image: url(/assets/sprites/gum.svg);
  top: 70vh;
  left: 30vw;
}
#matches {
  background-image: url(/assets/sprites/matches.svg);
  top: 70vh;
  left: 35vw;
}
#batteries {
  background-image: url(/assets/sprites/batteries.svg);
  top: 73vh;
  left: 60vw;
}
#cigarette {
  background-image: url(/assets/sprites/cigarette.svg);
  top: 74vh;
  left: 33vw;
}

@keyframes decompose {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: -1000%;
  }
}

/* SNE */

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 15px white;
  z-index: 9;
}

#background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-y: hidden;
  z-index: 9;
}
